{% extends 'base.html' %}
{% block content %}
<h2>Send a Message to Admin</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.subject.label_tag }}<br>
        {{ form.subject }}
    </div>
    <div class="mb-3">
        {{ form.content.label_tag }}<br>
        {{ form.content }}
    </div>
        <div class="mb-3">
        {{ form.reasons.label_tag }}<br>
        {{ form.reasons }}
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

<a href="{% url 'inbox' %}" class="btn btn-secondary mt-3">Back to Inbox</a>
{% endblock %}

