{% extends 'base.html' %}
{% block content %}
<div class="card mb-4">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><strong>Price:</strong> {{ product.price }} USD</p>
                <p class="card-text"><strong>Available:</strong> {{ product.quantity }}</p>


            </div>
        </div>
    </div>
</div>
<a href="{% url 'product-list' %}" class="btn btn-secondary">Back to Products</a>

{% include 'basket/includes/add_to_basket_form.html' with product=object %}
{% endblock %}